.register {
  &__card {
    background-color: ghostwhite;
  }

  &__login-tip {
    text-align: center;
    align-self: center;
  }

  &__append {
    &--remove-left-border {
      border-left: none;
      padding-left: 0;
    }
  }
  
  .react-datepicker {
    &-wrapper,
    &__input-container {
      display: block;
    }
  }
}