@import './shared/variables';

.btn {
  &-primary {
    background-color: $primary-color;
    border-color: darken($color: $primary-color, $amount: 10);

    &:disabled {
      background-color: lighten($color: $primary-color, $amount: 10);
      border-color: lighten($color: $primary-color, $amount: 5);
    }

    &:not(:disabled):not(.disabled):active,
    &:hover,
    &:focus {
      background-color: darken($color: $primary-color, $amount: 10);
      border-color: darken($color: $primary-color, $amount: 5);
    }
  }
}

